html{
	background: url("background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;				
}

body{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	position: center;
	padding-top:200px;
}

#connexion, #inscription, #formulaire{
	background-color: rgba(204, 238, 255,0.5);
	border-style: solid;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 3%; 
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	vertical-align: middle;
}


label{
	display: block;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	float: left;
	width: 170px;
}

/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	left: 0;
	width: 100%; /* Full width */
}

/* Links inside the navbar */
.nav {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change background on mouse-over */
.nav:hover {
	background: #ddd;
	color: black;
}

#nomUser {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.col-25{
	text-align:left;
	margin: 20px;
}

.col-75{
	text-align:center;
	margin: 20px;
}


h1{
	text-align: center;
}

.btn {
	margin-left: 130px;
	margin-right: 130px;
	border-radius: 10px;
	color: #ffffff;
	background: #3498db;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 10px 20px 10px 20px;
	
}

.form,.formAjout{
	text-align: center;
}

.mdp{
	padding-top: 20px;
}

.input{
	border-color:#cccccc; 
	border-style:solid; 
	padding:12px; 
	font-size:14px; 
	border-width:4px; 
	border-radius:12px;
	width: 200px;
}

.envoye{
	margin: 20px;
}

.valider{
	padding-top: 10px;
	padding-bottom: 5px;
}
